#_build/
#.elixir_ls/
.git/
.vscode/
#deps/
#priv/static/
k8s/
#test/
.dockerignore
#.env
#.formatter.exs
.gitignore
.travis.yml
Dockerfile
Dockerfile_dev
README.md

.notes.md 
.pgpass.txt 
.release-cookie.txt 
.secretkey.txt 
.env

.dburl.txt
Dockerfile
Dockerfile_dev
erl_crash.dump
